.wrapper {
	background-color: #b5c6bd;
	width: 3000px;
}
.headerwrap {
}
.headerleft {
	float: left;
	width: 350px;
	z-index: 6;
	position: relative;

}
#header {
	background-color: #58694a;
	width: 640px;
	height: 154px;
	font-family: "Century Gothic";
	font-weight: bold;
	font-size: small;
	font-style: normal;
	text-align: right;
	padding-top: 30px;
	padding-right: 30px;
	float: left;
	z-index: 6;
	position: relative;
}
#navigation {
	background-color: #b5c6bd;
	width: 1050px;
	height: 0px;
	font-family: "Century Gothic";
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	line-height: 40px;	
/*	padding-right: 37px;
*//*	padding-left: 37px;
*/}
#banner {
	margin-right: 37px;
	margin-left: 37px;
}
.blog {
	background-color: #b5c6bd;
	width: 1024px;
	height: 688px;
}
.left {
	width: 200px;
	margin-left: 37px;
	float: left;
	margin-top: 20px;
	margin-right: 5px;
	background-color: #b5c6bd;
}
#twitter {
	background-color: #454843;
	width: 200px;
	float: left;
	font-family: "Century Gothic";
	font-weight: bold;
	font-size: medium;
	text-align: center;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}
#twitterbody {
	width: 190px;
	background-color: #8c9485;
	font-family: "century gothic";
	padding: 10px 5px 15px 5px;
	font-size: small;
	height: 610px;
}
.center {
	float: left;
	width: 530px;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #b5c6bd;
}
#news {
	background-color: #e1e6dd;
	width: 530px;
	font-weight: bold;
	font-size: medium;
	font-family: "century Gothic";
	text-align: center;
	color: #666666;
	padding-top: 5px;
	padding-bottom: 5px;
}
#newsbody {
	background-color: #FFFFFF;
	padding: 5px;
	font-family: "Century Gothic";
	font-size: small;
	height: 595px;
}
#right {
	background-color: #b5c6bd;
	width: 200px;
	float: left;
	margin-right: 37px;
	margin-left: 5px;
	font-family: "Century Gothic";
	font-weight: bold;
	font-size: medium;
	text-align: center;
	margin-top: 20px;
}
#mailing {
	background-color: #939f89;
	color: #FFFFFF;
	font-family: "Century Gothic";
	padding-top: 5px;
}
#mailingbody {
	font-family: "Century Gothic";
	background-color: #acbaa0;
	font-size: small;
	font-weight: normal;
	padding: 5px;
}
#events {
	background-color: #939f89;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "century gothic";
}
#eventsbody {
	font-family: "century gothic";
	background-color: #acbaa0;
	padding: 5px;
	font-size: small;
	font-weight: normal;
	height: 340px;
}
